In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv('carprices.csv')
df.head()

   Mileage  Age(yrs)  Sell Price($)
0    69000         6          18000
1    35000         3          34000
2    57000         5          26100
3    22500         2          40000
4    46000         4          31500

In [4]:
x = df [['Mileage','Age(yrs)']]
y = df['Sell Price($)']

In [9]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=.2,random_state =0)

In [10]:
lr_model = LinearRegression()
lr_model.fit(x_train,y_train)

LinearRegression()

In [11]:
lr_model.predict(x_test)

array([15968.88975121, 34057.45077682, 28308.037565  , 14718.28626739])

In [12]:
y_test

18    12800
1     34000
19    28200
8     12000
Name: Sell Price($), dtype: int64

In [13]:
lr_model.score(x_test,y_test)

0.9524414164762772